<div class="row">
  <div class="col-sm-6">
    <label class="label label-info">Bear name:</label> <input #bearName />
    <button class="btn btn-sm btn-success" (click)="add(bearName.value); bearName.value=''">
      Add
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6" *ngFor="let bear of bears">
    <div class="panel panel-primary">
      <div class="panel panel-heading">
        <h4 class="panel-title">{{ bear.name }}</h4>
      </div>
      <div class="panel-body">
        <p class="card-text">{{bear.name}}</p>
        <a [routerLink]="['/detail', bear._id]" class="btn btn-sm btn-info card-link">Card link</a>
        <button class="btn btn-sm btn-danger" (click)="delete(bear); $event.stopPropagation()">Borrar</button>
      </div>
    </div>
  </div>
</div>